body {
    background-image: url('joanna-kosinska-1_CMoFsPfso-unsplash.jpg'); 
}

p {
    font-family: cursive; 
    text-align: right;
    padding: 150px;
    font-size: 40px;
    color: white; 
}

.nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

.nav a:visited {
    color: white;
}

.nav a:hover {
    color: blue;
}

.nav a:active {
    color: blue; 
}