body {
    background-image: url('joanna-kosinska-1_CMoFsPfso-unsplash.jpg'); 

}

@media screen and (max-width: 1024px) {
    .words {
        padding: 10px;
    } 
}

.words {
    font-family: cursive; 
    text-align: right;
    padding: 150px;
    font-size: 40px;
    color: white; 
}

.nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

.an {
    animation-name: fade-in;
    animation-duration: 5s;
    opacity: 1;
}

a {
    text-decoration: none;
    font-family: auto;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
}

a:active {
    color: blue; 
}

@keyframes fade-in {
    0% {opacity: 0; }
    30% {opacity: 0; }
    40% {opacity: 0.15; }
    45% {opacity: 0.22; }
    50% {opacity: 0.3; }
    55% {opacity: 0.37; }
    60% {opacity: 0.45; }
    65% {opacity: 0.52; }
    70% {opacity: 0.6; }
    75% {opacity: 0.67; }
    80% {opacity: 0.75; }
    85% {opacity: 0.82; }
    90% {opacity: 0.9; }
    100% {opacity: 1; }
}